{% extends "base.html" %}

{% load wagtailcore_tags wagtailmarkdown  wagtailimages_tags  %}

{% block content %}
<section class="container about">
    <div>
        <h3 class="about_heading"> About Us!</h3>
        <div class="about_container">
            <div class="about_coloumn fade-in">
                <p>
                    A blog with a simple mission: to inspire and educate. We want to create a place where anyone interested in technology can come to learn, discuss, and get excited about the latest innovations. Whether you're a student, a tech lover, or a pro, our blog is here to help you stay in the loop, improve your skills, and ignite your passion for all things tech. Think of us as your one-stop-shop for tech inspiration and knowledge.<br>
                    Welcome to a world where innovation is celebrated and made accessible to all!
                </p>
            </div>
            <div class="about_coloumn fade-in">
                <p>
                    A big thank you to our users! Your support and engagement fuel our blog's growth. We appreciate your trust and promise to keep delivering valuable content. Together, we'll keep exploring the world of technology and innovation. You're the driving force behind our mission, and we're grateful for your participation!
                </p>
            </div>
            <div class="about_coloumn fade-in">
                <p>
                    The Microsoft Innovation Club at VIT Chennai was eager and deeply involved in every aspect of this project. MIC's passionate members dedicated their time, expertise, and creativity to bring this blog to life. Their unwavering commitment to innovation made this endeavor possible, and we're excited to share it with you.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}


