{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailmarkdown  wagtailimages_tags  %}

{% block content %}

<section class="Contact_us">
    <h1>Contact Us</h1>
    <div class="column right">
        <form action="#" id="contactForm">
            <div class="fields">
                <div class="field_name">
                    <input type="text" placeholder="Name" id="name" required>
                </div>
                <div class="field email">
                    <input type="email" placeholder="Email" id="email" required>
                </div>
                <div class="field number">
                    <input type="text" placeholder="Contact No."  id="contactNo" required>
                </div>
                <div class="field textarea">
                <textarea cols="30" rows="10" placeholder="Message" id="message" required></textarea>
                </div>
                <div class="button-area">
                <button type="submit">Send </button>
                </div>
                <img src="{% static '/images/contact.png' %}"  class="image-class" />
                </div>
            </div>
        </form>
</section>      
{% endblock %}


